[user]
	name = Shawn M. Jones
	email = jones.shawn.m@gmail.com
[core]
	excludesfile = /home/smj/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[diff]
#    external = git_diff_wrapper
	tool = vimdiff
[pager]
    diff = 
